*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.navbar{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 80px;
    width: 100%;
}
.container{
    width: 90%;
    margin:0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar__logo span{
    text-align: center;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.navbar ul{
    list-style: none;
    margin-right: 20px;
}
.navbar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}
.navbar ul button{
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
border: none;
padding: 17px 24px;
}
.navbar ul button a{
    padding-left: 10px;
}
.navbar ul li a{
    color: #3C354F;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
}
@media (max-width: 991px){
    .navbar{
        height: auto;
        padding: 45px 0;
    }
    .container{
        display: block;
    }
    .navbar__logo{
        text-align: center;
    }
    .navbar__logo span{
        text-align: center;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .navbar ul{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .navbar ul li{
        display: block;
        margin: 0;
        padding: 0;
        line-height: 60px;
    }
    .navbar ul li a{
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
    }
    .navbar ul button{
        margin-top: 10px;
    }
    .navbar ul button a{
        padding-left: 10px;
    }
}

#hero{
    width: 90%;
    margin: 0 auto;
    height: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
flex-wrap: wrap;
    padding:20px 0;
}
#hero h1{
    color: #0B0223;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.hero_text{
    background-image: url('images/bg.svg');
}
.anime{
font-size: 95px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
#hero ul li{
    color: #534C64;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
list-style: none;
margin-top: 10px;
}
#hero button {
    margin-top: 25px;
}
#hero img{
    width: 100%;
}
.signin{
padding: 21px 40px;
align-items: flex-start;
border-radius: 48px;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
border: none;
}
.goto{
    padding: 21px 40px;
align-items: flex-start;
border-radius: 48px;
background: #4EC5F7;
color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
border: none;
}


#rtl{
    width: 100%;
    height: 550px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.rtl{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 55px 0 56px 0;
}
.rtl div{
    width: 50%;
}
#rtl img{
    width: 80%;
}

#rtl h2{
    text-align: right;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
#rtl p{
    color: #534C64;
text-align: right;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
margin-top: 10px;
}
#rtl button{
    padding: 21px 40px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: none; 
    margin-left: 50%;
    margin-top: 10px;
}
#rtl span{
    color: #534C64;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 45px;
margin-top: 10px;
}
@media (max-width: 991px){
    #rtl{
        height: auto;
    }
    .rtl div{
    width: 100%;
    }
    #rtl img{
        width: 100%;
    }
    #rtl button{
        margin-left: 45%;
    }
}
#video{
    padding: 80px 0;
    
}
#video .image{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#video h2{
    color: #0B0223;
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#video p{
    color: #534C64;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
margin: 25px 0;
}

.image div{
    text-align: center;
    height:540px;
    width: 350px;
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
    position: relative;
}
.image img{
    height:440px;
    width: 350px;
}
.image div .play{
    width: 80px!important;
    height: 80px;
    border-radius: 50%;
    position : absolute;
    background-image: url('https://e7.pngegg.com/pngimages/886/387/png-clipart-line-triangle-brand-play-button-play-button-icon-angle-text-thumbnail.png');
    background-size: cover;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;

}
.image div:hover .play{
    cursor: pointer;
    opacity: 1;
    z-index: 2;
}
.image div .color{
    position : absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:440px;
    width: 350px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.459);    
    border-radius: 15px;
}
.image div:hover .color{
    opacity: 1;

}
.image  h4{
    position : absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:rgb(255, 255, 255);
    opacity: 0;
}
.image div:hover h4{
    opacity: 1;
    z-index: 2;
}
@media (max-width: 991px){
    .image div{
        margin-bottom: 20px;
    }
    #video{
        padding: 80px 10px;
    }
}

.ov_cls{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.ov_cls div:first-child{
    width: 30%;
}
#overlay h2{
    text-align: right;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; 
color: #0B0223;
}
#overlay h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#overlay p{
    color: #534C64;
text-align: right;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.img1{
    position: relative;
}

.img2{
    position: absolute;
    left: -100px;
    bottom: -80px;
}

@media (max-width: 991px){
    .ov_cls div:first-child{
        width: 100%;
        padding: 20px 0;
    }
    .ov_cls div{
        width: 300px;
        margin: 0 auto;
    }
    .ov_cls .img2{
        width: 50%;
        left: -17px;
    bottom: -50px;
    }
    .img1 img:first-child{
        width: 100%;
    }
}
.pink{
    width: 100%;
    height: 821px;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 140px;
}
.pink h2{
    color: #FFF;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; 
}
.pink p{
    color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 25px;
}
.line{
    color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 40px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
margin-top: 25px;
}
.lin1{
    text-align: left;
}
.lin2{
    text-align: right;
}
@media (max-width: 991px){
   .pink{
    padding: 20px 10px;
    height: auto;
   }
   .pink img{
    width: 100%;
    padding: 20px 0;
   }
}
.pink button{
padding: 21px 40px;
border-radius: 48px;
background: #FFF;
border: none;
margin-top: 25px;
}
#sm_icon{
    padding: 100px 0;
}
.small_icon{
    width: 90%;
    margin: 0 auto;
}
.small_icon .item{
    width: 13%;
    display: flex;
    align-items: center; 
    border:3px solid  #FFF;; 
}
.small_icon .item:hover{
  border:3px solid  #F948B2;
    border-radius: 25px;
}

.item h2{
    color: #0B0223;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 10px;
}
.small_icon .icon1{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
     flex-wrap: wrap;

}
.small_icon .icon2{
    display: flex;
    justify-content: space-around;
    padding-top: 55px;
    flex-wrap: wrap;

}

@media (max-width: 991px){
    .icon1{
        width: 100%;
    }
    .icon1 .item,.icon2 .item{
        width: 30%;
        margin: 0 auto;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    
}
footer{

height: 500px;
background: #0B0223;
}
.footer__logo{
    margin: 0 auto;
    color: white;
    text-align: center;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 80px;
}
footer ul{
    list-style: none;
    text-align: center;
    padding-top: 50px;

}
footer ul li{
   display: inline;
   color: #FFF;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding:0px 20px;

}

footer ul li a:hover{
    color: #F948B2;    
}

.ft_litem li{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

footer h3{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 40px 0 0 0;
}

@media (max-width: 991px){
    footer{
        height: auto;
        padding-bottom: 25px;
    }

    footer ul{
        padding-top: 25px;
    }

    footer ul li{
        margin-top: 10px;
        line-height: 2;
    }
    .ft_litem li{
        margin-top: 10px;
        line-height: 2;
    }
    footer ul li img{
        width: 67px;
    }
   
    
}